div.divBody {
  background-color: #dbdbdb;
}

div.divHeroHolder {
  z-index: 20;
  width: 100%;
  position: relative;
  margin: 0px auto;
  max-height: 820px;
  overflow: hidden;
}

div.divTopMenuBar {
  z-index: 30;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100px;
  /* border-bottom: solid 1px gray; */
}

div.divTopMenuBarBlack {
  height: 60px;
  background-color: rgba(0, 0, 0, 0.75);
}

div.divTopMenuBarWhite {
  height: 50px;
  background-color: rgba(255, 255, 255, 0.75);
}

ul.headerMenu {
  float: right;
  margin: 15px 30px 0px 0px;
}

ul.ulRightFooter_selectLanguage {
  float: right;
  margin-top: 12px;
}

ul.ulRightFooter_selectLanguage li {
  display: inline;
  position: relative;
  font-size: 14px;
  font-family: "RobotoLight";
  color: rgb( 116, 116, 117);
  font-weight: bold;
}

ul.ulLeftFooter_hyperlinks {
  float: left;
  margin-top: 12px;
}

ul.ulLeftFooter_hyperlinks li {
  display: inline;
  position: relative;
}

ul.ulLeftFooter_hyperlinks li a {
  font-size: 14px;
  font-family: "RobotoLight";
  color: rgb( 116, 116, 117);
  font-weight: bold;
}

select.selectLanguage {
  outline: none!important;
}

select.selectLanguage option {
  outline: none!important;
}

ul.rightFooter li, ul.headerMenu li {
  display: inline;
  position: relative;
}

ul.headerMenu li {
  padding: 5px 5px 5px 5px;
  position: relative;
}

ul.rightFooter li a {
  font-size: 16px;
  font-family: "RobotoRegular";
  color: rgb( 116, 116, 117);
  font-weight: bold;
}

ul.headerMenu li a {
  font-size: 16px;
  font-family: "RobotoRegular";
  color: rgb(226, 226, 226);
}

img.imgHero {
  z-index: 25;
  display: block;
  width: 100%;
  position: relative;
  user-select: none;
  -webkit-box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.22);
  box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.22);
  border-bottom: solid 1px gray;
}

div.divHeroBlurbHolder {
  z-index: 30;
  position: absolute;
  top: 350px;
  left: 285px;
  user-select: none;
}

.ignoreTextShadow {
  position: relative;
  z-index: 10;
}

.textShadow {
  position: relative;
  z-index: 5;
  text-shadow: 0px 0px 60px rgb(0, 0, 0), 0px 0px 40px rgba(0, 0, 0, 1), 0px 0px 30px rgba(0, 0, 0, 1), 0px 0px 30px rgba(0, 0, 0, 1);
}

div.divHeroBlurb {
  line-height: 44px;
  color: white;
  font-size: 50px;
  display: inline-block;
  font-family: RobotoLight;
  margin-bottom: 18px;
}

div.divHeroBlurbSubText {
  width: 400px;
  color: white;
  font-size: 18px;
  line-height: 20px;
  font-family: RobotoLight;
}

img.imgShadowBlob {
  z-index: 31;
  position: relative;
  width: 500px;
  margin: 40px 0px 0px 0px;
}

div.divTopMenuBarBlackContent {
  position: relative;
  width: 85%;
  margin: 0px auto;
  padding: 3px 0px 0px 0px;
}

img.imgIfitLogo {
  margin: 10px 0px 0px 0px;
}

div.divWhiteMenuBarContent {
  position: relative;
  font-family: RobotoRegular;
  width: 85%;
  margin: 0px auto;
  font-weight: bold;
  font-size: 16px;
  padding: 9px 0px 0px 0px;
}

div.divContentHolder {
  width: 80%;
  z-index: 10;
  position: relative;
  background-color: white;
  margin: -5px auto 0px auto;
  border: solid 1px gray;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.viewMore {
  margin: 40px;
  font-size: 17.5px;
  font-family: "RobotoRegular";
  color: rgb( 253, 253, 253);
  font-weight: bold;
  text-transform: uppercase;
  background-color: rgb( 0, 151, 217);
  width: 223px;
  height: 62px;
  border: none;
  cursor: pointer;
}

.viewMore:hover {
  outline: solid 1px blue;
  opacity: .75;
}

/* Style for grid  */

.gridContainer {
  margin-bottom: 25px;
  cursor: pointer;
  user-select: none;
  position: relative;
}

/* Styles for the burger menu */

ul.headerMenu div.bm-burger-button {
  position: absolute;
  width: 17px;
  height: 16px;
  right: -26px;
  top: 9px;
}

.bm-burger-bars {
  background: #c5c5c5;
}

.bm-burger-bars:active {
  outline: none!important;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #FFFAFA;
}

.bm-item-list a {
  color: #ffffff;
  outline: none;
}

.bm-item-list a:active, .bm-item-list a:focus {
  outline-width: 0;
  color: #00aeef;
  outline: none;
}

.bm-item-list a:hover {
  color: #000000;
  text-decoration: none;
}

.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */

.bm-menu {
  background: rgb(62, 60, 59);
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  margin-top: 16px;
}

/* Morph shape necessary with bubble or elastic */

.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */

.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
  display: flex;
  flex-direction: column;
}

/* Carousel styling */

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.carousel-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 210px;
}

.carousel {
  position: relative;
  background: #1e1e1e;
  color: white;
  min-height: 200px;
}

.carousel__slide {
  margin-right: auto;
  margin-left: auto;
  display: none;
  width: 100%;
  list-style-type: none;
  text-align: center;
  position: relative;
}

.carousel__slide--active {
  display: block;
}

.carousel-slide__content {
  margin-bottom: 19px;
  font-family: 'Open Sans', 'Trebuchet MS', sans-serif;
  font-size: 16px;
  min-height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
}

.carousel-slide__author {
  font-family: 'Roboto', arial, sans-serif;
  font-size: 14px;
}

.carousel-slide__source {
  font-style: italic;
  color: #888;
}

.carousel__arrow {
  position: absolute;
  top: 50%;
  display: block;
  color: #111;
  cursor: pointer;
  opacity: .75;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  transition: opacity 0.15s cubic-bezier(0.4, 0, 1, 1);
}

.carousel__arrow:focus {
  outline: 0;
}

.carousel__arrow:hover {
  opacity: .5;
}

.carousel__arrow--left {
  left: 32px;
}

.carousel__arrow--right {
  right: 32px;
}

.carousel__indicators {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}

.carousel__indicators li:nth-of-type(n + 2) {
  margin-left: 9px;
}

a.carousel__indicator {
  display: block;
  width: 20px;
  height: 20px;
  background-color: #0096d6;
  cursor: pointer;
  opacity: .15;
  transition: opacity 0.15s cubic-bezier(0.4, 0, 1, 1);
  border-radius: 5px;
}

a.carousel__indicator {
  opacity: .5;
}

a.carousel__indicator:hover {
  opacity: 1;
}

a.carousel__indicator--active:hover {
  opacity: 1;
}

a.carousel__indicator--active {
  opacity: 1;
}

.reviewAuthor {
  font-size: 18px;
  font-family: "Georgia";
  color: rgb( 0, 150, 214);
  font-style: italic;
  text-align: right
}

.reviewContent {
  font-size: 17.5px;
  font-family: "Myriad Pro";
  color: rgb( 253, 253, 253);
  width: 810px;
  height: 41px;
  text-align: left;
}

.reviewQuotes {
  font-size: 275px;
  font-family: "Times New Roman";
  color: rgb( 0, 150, 214);
  margin-top: 82px;
}

.spanReviewQuotes {
  margin-left: -42px;
}

.footerBlurb {
  font-size: 34px;
  font-family: "RobotoRegular";
  color: rgb( 66, 66, 66);
  margin: 40px;
}

.join {
  background-color: rgb( 0, 151, 217);
  font-size: 17.5px;
  font-family: "RobotoRegular";
  color: rgb( 253, 253, 253);
  font-weight: bold;
  text-align: center;
  width: 223px;
  height: 62px;
  border: none;
  margin-left: 15px;
  cursor: pointer;
}

.join:hover {
  outline: solid 1px blue;
  opacity: .75;
}

footer {
  height: 60px;
  background-color: #1e1e1e;
  position: relative;
  margin: 0px;
}

div.divFooterContent {
  width: 80%;
  position: relative;
  margin: 0px auto;
  padding: 5px;
}

ul.headerMenuWhite {
  /*  float: right;
  margin: 1px 20px 0px 0px; */
  position: absolute;
  right: 18px;
  top: 8px;
}

ul.headerMenuWhite li {
  display: inline;
  position: relative;
  padding: 0px 8px 0px 8px;
}

.searchIcon {
  position: absolute;
  top: 10px;
}

ul.headerMenuWhite li a {
  font-size: 16px;
  font-family: "RobotoRegular";
  color: rgb(88, 88, 88);
}

div.divWeightLossBlurb {
  margin: 35px auto 50px auto;
  font-family: RobotoRegular;
}

div.divWeightLossBlurbHeader {
  font-size: 36px;
  margin: 0px 0px 10px 0px;
}

p.pWeightLossBlurbContent {
  width: 70%;
  margin: 0px auto;
  font-size: 18px;
}

div.divSubHeaderGrid {
  font-family: RobotoBold;
  font-size: 16px;
  margin: 10px 0px 0px 0px;
}

div.divSubSubHeaderGrid {
  font-family: RobotoRegular;
  font-size: 15px;
  margin: -2px 0px 0px 0px;
}

img.imgThumbnail {
  display: block;
}

input[type=checkbox].heartCheckbox {
  display: none;
}

input[type=checkbox]+label {
  position: absolute;
  color: rgb(184, 184, 184);
  font-size: 40px;
  display: inline-block;
  cursor: pointer;
  top: -21px;
  left: 13px;
  z-index: 100;
}

input[type=checkbox]:checked+label {
  color: red;
}

/* animation classes */

/* fade-appear */

.fade-appear {
  opacity: 0;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 1000ms linear 1000ms;
}

.fade-appear-done {
  opacity: 1;
}

/* fade-exit */

/* .fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 1000ms linear;
}

.fade-exit-done {
  opacity: 0;
}
 */

/* fade-enter */

.fade-enter {
  opacity: 0;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms linear;
}

/* slideFromRight */

.slideFromRight-appear {
  transform: translateX(9000px);
}

.slideFromRight-appear.slideFromRight-appear-active {
  transform: translateX(0px);
  transition: transform 1000ms ease-in-out 10ms;
}

.slideFromRight-appear-done {
  transform: translateX(0px);
}

/* slideFromTop */

.slideFromTop-appear {
  transform: translateY(-2000px);
}

.slideFromTop-appear.slideFromTop-appear-active {
  transform: translateY(0px);
  transition: transform 1000ms ease-in-out 10ms;
}

.slideFromTop-appear-done {
  transform: translateY(0px);
}

/* scaleOnHover-enter */

.scaleOnHover-enter {
  transform: scale(1);
  z-index: 10;
}

.scaleOnHover-enter.scaleOnHover-enter-active {
  transform: scale(1.2);
  z-index: 10;
  transition: transform 120ms linear;
}

.scaleOnHover-enter-done {
  transform: scale(1.2);
  z-index: 10;
}

.scaleOnHover-enter-done img.imgThumbnail {
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.25);
}

/* scaleOnHover-exit */

.scaleOnHover-exit {
  transform: scale(1.2);
  z-index: 10;
}

.scaleOnHover-exit.scaleOnHover-exit-active {
  transform: scale(1);
  z-index: 10;
  transition: transform 100ms linear,
}

.scaleOnHover-exit-done {
  transform: scale(1);
  z-index: 1;
}

span.hideHeaderMobile {
  font-size: 20px;
}

/* phone */

@media only screen and (max-width: 767px) {
  div.divHeroHolder {
    max-height: 700px;
  }
  div.divHeroHolder img.imgHero {
    margin: 60px auto 0px auto;
  }
  div.divHeroBlurbHolder {
    top: 240px;
    left: 20px;
  }
  div.divHeroBlurb {
    line-height: 35px;
    color: white;
    font-size: 28px;
    margin-bottom: 8px;
  }
  div.reviewQuotes {
    font-size: 80px;
    font-family: "Times New Roman";
    color: rgb( 0, 150, 214);
    display: none;
  }
  .bm-burger-button {
    top: 86px;
  }
  .responsive {
    width: 100%;
    max-width: 210px;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  .gridContainer {
    text-align: center;
  }
  .hideHeaderMobile {
    display: none;
  }
  .headerMenuWhite {
    margin: 1px 34px 0px 0px;
  }
  ul.headerMenuWhite {
    margin: 0;
  }
  ul.headerMenuWhite li a {
    font-size: 12px;
  }
  ul.headerMenuWhite li {
    padding: 0px 8px 0px 4px;
  }
  ul.headerMenu li a {
    font-size: 12px;
  }
  ul.headerMenu div.bm-burger-button {
    width: 12px;
    height: 12px;
    top: 11px;
  }
  div.divHeroBlurbSubText {
    display: none;
  }
  .textShadow {
    text-shadow: 0px 0px 10px rgb(0, 0, 0), 0px 0px 10px rgba(0, 0, 0, 1), 0px 0px 10px rgba(0, 0, 0, 1), 0px 0px 10px rgba(0, 0, 0, 0.25);
  }
  div.divWeightLossBlurbHeader {
    font-size: 20px;
  }
  p.pWeightLossBlurbContent {
    font-size: 14px;
  }
  div.divWeightLossBlurb {
    margin: 15px auto 15px auto;
  }
  input[type=checkbox]+label {
    left: 129px;
  }
  div.divSubHeaderGrid {
    font-size: 14px;
  }
  div.divSubSubHeaderGrid {
    font-size: 12px;
  }
  .reviewContent {
    font-size: 16px;
    width: 340px;
    height: 88px;
  }
  .reviewAuthor {
    font-size: 16px;
    position: relative;
    bottom: -61px;
  }
  .carousel {
    color: white;
    min-height: 250px;
  }
  .carousel__indicators {
    margin-top: 55px;
  }
  .carousel__slide {
    padding: 0;
  }
  .viewMore {
    margin: 0 0 20px 0;
    cursor: pointer;
  }
  .footerBlurb {
    font-size: 16px;
    margin: 20px;
  }
  footer {
    height: 183px;
  }
  .join {
    font-size: 14px;
    width: 127px;
    font-weight: 400;
    height: 48px
  }
  .viewMore {
    font-size: 14px;
    width: 102px;
    height: 40px;
    font-weight: 400;
  }
}

/* tablet */

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  div.divHeroHolder {
    max-height: 610px;
  }
  div.divHeroHolder img.imgHero {
    margin: 0px auto 0px auto;
  }
  div.divHeroBlurbHolder {
    top: 230px;
    left: 50px;
  }
  div.divHeroBlurb {
    line-height: 40px;
    font-size: 36px;
    margin-bottom: 6px;
  }
  .responsive {
    width: 100%;
    max-width: 210px;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  .carosel {
    min-height: 300px;
  }
  div.divHeroBlurbSubText {
    width: 430px;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.329);
    padding: 8px;
  }
  .reviewContent {
    width: 610px;
  }
  .footer {
    height: 110px;
  }
}

/* computer screen */

@media only screen and (min-width: 1025px) and (max-width: 1300px) {
  div.divHeroHolder img.imgHero {
    margin: -80px auto 0px auto;
  }
  div.divHeroHolder {
    max-height: 810px;
  }
  div.divHeroBlurbHolder {
    z-index: 30;
    position: absolute;
    top: 261px;
    left: 123px;
    user-select: none;
  }
  div.divHeroBlurb {
    line-height: 44px;
    color: white;
    font-size: 45px;
    display: inline-block;
    font-family: RobotoLight;
    margin-bottom: 18px;
  }
  div.divHeroBlurbSubText {
    width: 430px;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.329);
    padding: 8px;
  }
  .responsive {
    width: 100%;
    max-width: 210px;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  .carosel {
    min-height: 300px;
  }
  .reviewContent {
    width: 610px;
  }
  .footer {
    height: 110px;
  }
}

/* full width large computer screen*/

@media only screen and (min-width: 1301px) and (max-width: 1499px) {
  div.divHeroHolder {
    max-height: 1130px;
  }
  div.divHeroHolder img.imgHero {
    margin: -170px auto 0px auto;
  }
  div.divHeroBlurbHolder {
    z-index: 30;
    position: absolute;
    top: 400px;
    left: 251px;
    user-select: none;
  }
  div.divHeroBlurb {
    line-height: 50px;
    color: white;
    font-size: 55px;
    display: inline-block;
    font-family: RobotoLight;
    margin-bottom: 18px;
  }
  div.divHeroBlurbSubText {
    width: 450px;
    font-size: 26px;
    line-height: 28px;
  }
  .responsive {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1500px) {
  div.divHeroHolder {
    max-height: 1130px;
  }
  div.divHeroHolder img.imgHero {
    margin: -170px auto 0px auto;
  }
  div.divHeroBlurbHolder {
    z-index: 30;
    position: absolute;
    top: 513px;
    left: 280px;
    user-select: none;
  }
  div.divHeroBlurb {
    line-height: 55px;
    color: white;
    font-size: 60px;
    display: inline-block;
    font-family: RobotoLight;
    margin-bottom: 18px;
  }
  div.divHeroBlurbSubText {
    width: 530px;
    font-size: 28px;
    line-height: 30px;
  }
  .responsive {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
}

/* carousel only media queries*/

@media (min-width: 992px) {
  .carousel-slide__author, .carousel-slide__source {
    font-size: 16px;
  }
}

@media (max-width: 991px) {
  .carousel__slide {
    padding-right: 60px;
    padding-left: 60px;
  }
  .carousel-slide__content {
    font-size: 18px;
  }
}